<section>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="grid grid-cols-3 place-items-center gap-10">
            @for (image of images(); track $index) {
            <div class="image bg-2 shadow-2xl shadow-gray-900 text-center rounded-lg"
                [ngClass]="{'checked-image': isChecked($index)}">
                <label class="w-37.5 p-3 block cursor-pointer ">
                    <img class="w-full aspect-square cursor-pointer rounded-lg object-cover" [src]="'/images/' + image"
                        [alt]="image">
                    <input formControlName="{{ $index }}" type="checkbox" class="hidden">
                </label>
            </div>
            }
        </div>
        <!-- <button class="bg-2 cursor-pointer w-20" type="submit">Next</button> -->
    </form>
</section>