<section class="h-full">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col justify-between h-full gap-10">
        <div class="grid grid-cols-3 place-items-center gap-10">
            @for (image of images(); track $index) {
            <div class="image bg-2 shadow-2xl shadow-gray-900 text-center rounded-lg"
                [ngClass]="{'checked-image': isChecked($index)}">
                <label class="w-37.5 p-3 block cursor-pointer ">
                    <img class="w-full aspect-square cursor-pointer rounded-lg object-cover" [src]="'/images/' + image"
                        [alt]="image">
                    <input formControlName="{{ $index }}" type="checkbox" class="hidden">
                </label>
            </div>
            }
        </div>
        @if (form.invalid) {
        <div class="bg-red-50 text-sm p-3 rounded-md flex gap-3 border border-red-100 flex-col sm:items-center sm:flex-row dark:bg-red-900/20 dark:border-red-800/40"
            role="alert">
            <p class="text-red-900 font-medium dark:text-red-300">Error!</p>
            <p class="text-red-900 dark:text-red-400">
                {{ form.getError("error") }}
            </p>
        </div>
        }
        <app-next-button />
    </form>
</section>