@import "tailwindcss";

:root {
    --c1: #222831;
    --c2: #31363F;
    --c3: #76ABAE;
    --c4: #EEEEEE;
}

.bg-1 {
    background-color: var(--c1);
}

.bg-2 {
    background-color: var(--c2);
}

.bg-3 {
    background-color: var(--c3);
}

.bg-4 {
    background-color: var(--c4);
}

.text-1 {
    color: var(--c1);
}

.text-2 {
    color: var(--c2);
}

.text-3 {
    color: var(--c3);
}

.text-4 {
    color: var(--c4);
}

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: var(--c1);
    color: var(--c4);
}

